body
 {background-color: azure;}
h1 {
     width: 800;
     color: lime; 
     font-size: 100px; 
   }
p
{width: 500px;}
p {
  font-size: 50px;
}
a
{width: 500px;}
a {
  font-size: 50px;
}
button {
width: 100px;
font-size: 50px;

}